.movie-home-container{
    justify-content: center;
   
}
.select-genre-container{
    width: 1128px;
    height: 60px;
    background: #6C6C6C;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin-left: 97px;
    margin-right: 97px;
    margin-top: 49px;
    margin-right: 99px;
    border: solid  #6C6C6C 1px;
}

.select-genre{
   width: 243px;
   height: 45px; 
   margin-left: 17px;
   margin-top: 5px;
   margin-bottom: 4.82px;
   border: 1px solid #E1E1E1;
   box-sizing: border-box;
   border-radius: 10px;  
  }

 .select-genre-items{
    background-color: #6C6C6C; 
    font-size: 16px;
    line-height: 22px;
    letter-spacing: -0.015em;
    color: #FFFFFF;
    padding-left: 20px;
    width:228px;
    height: 24px;
    margin-left: 9px;
    margin-top:10px;
    border: solid  #6C6C6C 0px;
 } 

 .movie-card-container{
    margin-left: 97px;
    margin-top: 44px;
    margin-top: 43px;
    display:grid;
    grid-template-columns: repeat(auto-fill, 250px);
    grid-gap: 31px 35px;
}

.movie-pagination-container{
    display: flex;
    justify-content: center;
    height: 40px;
    margin-top: 44px;
    margin-bottom: 70px;
    align-items: center;
}