.btn-exit{
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 10px;
    width: 103px;
    height: 30px;
    font-size: 14px;
    font-style: bold;
    justify-content: center;
    background-color: #FFC700;
}